/**
*
http://crossdesign.co.kr, Website project
project name : pdxen
author : ms
*
**/

.pc_hidden {
  display: none !important;
}

/**---------------------------------------------------------
  1400 �댄븯
---------------------------------------------------------**/
@media screen and (max-width:1400px) {
    /*�ㅻ뜑*/
    .ubermenu-main .ubermenu-item-level-0 > .ubermenu-target {
      font-size: 14px !important;
    }
}
/**---------------------------------------------------------
  1024 �댄븯
---------------------------------------------------------**/
@media screen and (max-width:1024px) {
  .mobile_hidden_1024{
    display: none !important;
  }
  .grid_1_1024{
    width: 100% !important;
  }
  .grid_2_1024{
    width: 50% !important;
 }

  /*main*/
 .product_col, .notice_col {
    margin: 50px 0 !important
 }

 /*about us*/
 .history_year {
  padding-right: 60px;
  background-size: 54px;
 }
 /*product 05*/
 .product_sub05_right_li {
    left: -50px;
 }
 /*service 02*/
 .service_02_and_bg{
   background: none;
   margin-bottom: 0 !important;
 }
 /*service 03*/
 .service03_img_box{
    padding:4%;
    margin-left: 0 !important;
 }
/*communication contact us*/
.page-id-203 .formcraft-css .fc-form.align-left{
  margin-left: 15px;
}
  
}
/**---------------------------------------------------------
  1000 �댄븯
---------------------------------------------------------**/
@media screen and (max-width:1000px) {
  .mobile_show{
    display: block !important;
  }
  .mobile_hidden{
    display: none !important;
  }

  /*�ㅻ뜑*/
  #header-outer header {
      border-bottom: 0;
  }
  .ocm-effect-wrap-inner .ubermenu-responsive-toggle,
  #slide-out-widget-area .ubermenu-responsive-toggle,
  .ocm-effect-wrap-inner .ubermenu-nav{
    display: none !important;
  }
  /*�명꽣*/
  .main_normal_b {
    font-size: 15px;
  }
  #footer-widgets p {
    font-size: 13px;
    line-height: 1.4em;
   }
   #copyright{
    padding-top: 0px !important;
    padding-bottom: 50px !important;
   }
   #copyright p{
    font-size: 13px;
    line-height: 1.2em !important;
   }
}

/**---------------------------------------------------------
  768 �댄븯
---------------------------------------------------------**/
@media screen and (max-width:768px) {
  .mobile_hidden_768{
    display: none !important;
  }
  .mobile_show_768{
    display: block !important;
  }

  .grid_1_768{
    width:100% !important;
  }
  .grid_2_768{
    width:50% !important;
  }

  ul {
    margin-left: 0 !important
  }
   /*main*/
  .main_slide_title{
    font-size: 30px;
    margin-bottom: 0px;
    line-height: 1.2em;
  }
  .main_title_t {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .main_normal_t {
    font-size: 14px;
    width: 95%;
    margin-bottom: 30px;
  }
  .main_num_t {
    font-size: 13px;
    padding: 2px 9px;
  }

  .product_col, .notice_col {
    margin: 20px 0 !important
 }

 /*sub*/
 .sub_box_title {
    font-size: 17px;
    border: 2px solid #000;
    padding: 5px 11px;
 }
 .main_title_t {
    font-size: 22px;
}
 .sub_title_box_t {
  font-size: 17px;
}
 .sub_first_text_row .wpb_text_column.wpb_content_element {
   margin-bottom: 0 !important;
 }
 .divider{
   height: 20px !important;
 }
 .service00_ul li, .service03_ul li, .service07_ul li, .service09_ul li, .product_ul li{
   font-size: 13px;
 }
 .sub_first_text_row {
   margin-top: -20px;
 }

 .tabbed[data-style="vertical_modern"] .wpb_tabs_nav li a {
    padding: 10px !important;
 }

 .menu_nav li{
   font-size: 15px;
 }
 /*about us*/
 
 .title_upper {
    font-size: 15px;
 }
 .title_name, .title_ceo{
    font-size: 20px;
 }
 .history_year, .history_month{
    font-size: 16px;
 }
 .history_month {
  width: 8%;
 }
 .history_con{
   font-size: 13px;
   width: 90%;
   line-height: 1.4em;
   vertical-align: top;
   top:3px;
 }
 .service00_ul{
   margin-bottom: 20px !important;
 }
 /*product 05*/
 .product_sub05_right_li {
    left: 0px;
    top: 20px;
  }
  /*comuunication notice*/
  .notice_row .blog-recent.columns-3 .col.span_4{
    width:49% !important;
    margin-right: 1% !important;
  }
  .masonry.classic_enhanced .masonry-blog-item h3.title, .blog-recent[data-style*="classic_enhanced"] h3.title {
    font-size: 15px;
    line-height: 1.2em;
  }
  /*communication contact us*/
  .page-id-203 .formcraft-css .fc-form.align-left{
    margin-left: 0px;
    margin-top: 20px; 
  }
}
/**---------------------------------------------------------
  768~414
---------------------------------------------------------**/
@media screen and (max-width:768px) and (min-width:414px) {
  .about_us_p{
    padding-left: 7% !important;
  }
}

@media screen and (max-width:689px) {
  .mobile_hidden_689{
    display: none !important;
  }
  .mobile_show_689{
    display: block !important;
  }
  .product_col{
    height: 280px;
  }
}
/**---------------------------------------------------------
  414 �댄븯
---------------------------------------------------------**/
@media screen and (max-width:414px) {
  .grid_1_414{
    width:100% !important;
  }

  /*sub*/
  .menu_nav.four li {
    width: auto !important;
  }
  .menu_nav li {
    padding: 4px 9px;
    font-size: 13px;
  }
  /*service 03*/
  .service03_ul {
    width: 100%;
  }
  /*comuunication notice*/
  .notice_row .blog-recent.columns-3 .col.span_4{
     width:99% !important;
  }
}
/**---------------------------------------------------------
  320 �댄븯
---------------------------------------------------------**/
@media screen and (max-width:320px) {
  .menu_nav li {
    padding: 4px 8px;
  }
}
